[submodule "Dependencies/Inc/stb"]
	path = Dependencies/Inc/stb
	url = https://github.com/nothings/stb.git
[submodule "Dependencies/Inc/glm"]
	path = Dependencies/Inc/glm
	url = https://github.com/g-truc/glm.git
